* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-top: 150px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: border-box;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

li span {
  flex: 1;
}

li button:hover {
  background-color: darkred;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
}
