/* Footer */

footer {
  font-family: Arial, sans-serif;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer-container {
  max-width: 900px;
  margin: 0 auto;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #4cae4c; /* Warna saat hover */
}
